<div class="row">
    <h2>
        Beregning og regulering
    </h2>

    {{#if utbetalingsinfo.soeskenjustering}}
        <p>
            Det gjøres en samlet beregning av barnepensjon for barn som oppdras sammen. For denne beregning har vi lagt
            til grunn at dere er {{antallBarn}} barn som oppdras sammen.
        </p>

        <p>
            Barnepensjon utgjør 40 prosent av folketrygdens grunnbeløp (G) for det første barnet i søskenflokken.
            For hvert av de øvrige barna legges det til 25 prosent av G. Summen deles på antall barn, og pensjonen
            utbetales med likt beløp til hvert av barna. Pensjonen fordeles på 12 utbetalinger i året.
        </p>
    {{else}}
        <p>
            Barnepensjonen utgjør 40 prosent av folketrygdens grunnbeløp (G) og fordeles på 12 utbetalinger i året.
        </p>
    {{/if}}

    <table class="beregning-tabell">
        <thead>
        <tr>
            <th>
                Periode
            </th>
            <th>
                Beregning gjelder
            </th>
            <th>
                Grunnbeløp (G)
            </th>
            <th>
                Brutto utbetaling pr. måned
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each utbetalingsinfo.beregningsperioder}}
            <tr>
                <td>{{iso_to_date this.datoFOM}} - {{#if this.datoTOM}}{{iso_to_date this.datoTOM}}{{/if}}</td>
                <td>{{this.antallBarn}} barn</td>
                <td>{{currency_no this.grunnbeloep true}} kr</td>
                <td>{{currency_no this.utbetaltBeloep true}} kr</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <p>
        Grunnbeløpet blir regulert 1. mai hvert år.  Økningen blir vanligvis etterbetalt i juni.
    </p>
</div>
