<div class="row">
    <table class="intro">
        <tbody>
        <tr>
            <td>
                <span class="muted">Navn:</span>
                {{barn.navn}} v/ verge
            </td>
            <td>
                <span class="muted">Dato:</span>
                {{iso_to_date utsendingsDato}}
            </td>
        </tr>
        <tr>
            <td>
                <span class="muted">Adresse:</span>
                {{mottaker.adresse}}
            </td>
            <td>
                <span class="muted">Saksnummer:</span>
                {{saksnummer}}
            </td>
        </tr>
        <tr>
            <td>
                <span class="muted">Fødselsnummer:</span>
                {{barn.fnr}}
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
