<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    {{> eypdfgen/partials_v2/style}}
    <title>Inntektsjustering {{ aar }}</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />
    <h1 class="title" >Inntektsjustering {{ aar }}</h1>
</div>
<div>
    <h3>
        Inntekt for sak {{ sakId }} ble mottatt {{ tidspunkt }}
    </h3>
    <p>
        Arbeidsinntekt: {{ arbeidsinntekt }}
    </p>
    <p>
        Næringsinntekt: {{ naeringsinntekt }}
    </p>
    <p>
        Inntekt fra utland: {{ inntektFraUtland }}
    </p>
    <p>
        Inntekt AFP: {{ afpInntekt }}
    </p>
    <p>
        Tjenesteordning AFP : {{ afpTjenesteordning }}
    </p>
    <p>
        Skal gå av med alderspensjon: {{ skalGaaAvMedAlderspensjon }}
    </p>
    <p>
        Dato for å gå av med alderspensjon: {{ datoForAaGaaAvMedAlderspensjon }}
    </p>
</div>

</body>
</html>
