<h2>
    {{#eq spraak "en"}}
        Information about children
    {{else}}
        {{#eq spraak "nn"}}
            Opplysingar om barn
        {{else}}
            Opplysninger om barn
        {{/eq}}
    {{/eq}}
</h2>

{{#with this.barn as | barnliste |}}
    <h3>
        {{#eq spraak "en"}}
            Registered children:
        {{else}}
            Registrerte barn:
        {{/eq}}
    </h3>

    {{#each barnliste as | barnet |}}
        <div class="{{#gt barnliste.length 1}}panel{{/gt}}">
            {{> eypdfgen/partials_v2/common/barn/barn barnet}}
        </div>
    {{/each}}
    {{else}}
        <i>
            {{#eq spraak "en"}}
                The sender/applicant have not supplied any information regarding children.
            {{else}}
                {{#eq spraak "nn"}}
                    Innsender/søkar har ikkje gitt opplysingar om eventuelle barn.
                {{else}}
                    Innsender/søker har ikke opplyst om eventuelle barn.
                {{/eq}}
            {{/eq}}
        </i>
{{/with}}
