<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    {{> eypdfgen/partials_v2/style}}
    <title>Meldt inn endringer for Omstillingsstønad med sakId {{ sakId }}</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />
    <h1 class="title" >Meldt inn endringer for Omstillingsstønad med sakId {{ sakId }}</h1>
</div>
<div>
    <h4>
        Det ble oppgitt {{ tidspunkt }}
    </h4>

    <div class="row opplysning">
        <div class="col">Endringstype</div>
        <div class="col">{{ type }}</div>
    </div>
    <div class="row opplysning">
        <div class="col">Beskrivelse av endring</div>
        <div class="col">{{ endringer }}</div>
    </div>
</div>

</body>
</html>
