{{#if this}}
    <h4>
        {{#eq spraak "en"}}
            Information about the survivors pension
        {{else}}
            {{#eq spraak "nn"}}
                Opplysingar om attlevandes pensjon
            {{else}}
                Opplysninger om gjenlevendes pensjon
            {{/eq}}
        {{/eq}}
    </h4>
    <div>
        <div class="row opplysning">
            <div class="col">
                {{this.pensjonstype.spoersmaal}}
            </div>
            <div class="col">
                {{#each this.pensjonstype.svar}}
                    • {{this.innhold}} <br />
                {{/each}}
            </div>
        </div>

        {{#if this.tjenestepensjonsordning}}
            <h5>
                {{#eq spraak "en"}}
                    Tjenestepensjonsordning
                {{else}}
                    {{#eq spraak "nn"}}
                        Tjenestepensjonsordning
                    {{else}}
                        Tjenestepensjonsordning
                    {{/eq}}
                {{/eq}}
            </h5>
            {{> eypdfgen/partials_v2/common/opplysning this.tjenestepensjonsordning.type}}
            {{> eypdfgen/partials_v2/common/opplysning this.tjenestepensjonsordning.utbetaler}}
        {{/if}}

        <h5>
            {{#eq spraak "en"}}
                Pension from abroad
            {{else}}
                {{#eq spraak "nn"}}
                    Pensjon fra utland
                {{else}}
                    Pensjon fra utland
                {{/eq}}
            {{/eq}}
        </h5>
        {{> eypdfgen/partials_v2/common/opplysning this.utland.svar}}

        {{#eq this.utland.svar.svar.verdi "JA"}}
            {{> eypdfgen/partials_v2/common/opplysning this.utland.type}}
            {{> eypdfgen/partials_v2/common/opplysning this.utland.land}}
            {{> eypdfgen/partials_v2/common/opplysning this.utland.beloepMedValuta}}
        {{/eq}}

        {{#eq this.svar.endringAvInntekt.grunn.svar.verdi "ANNEN_GRUNN"}}
            {{> eypdfgen/partials_v2/common/opplysning this.svar.endringAvInntekt.annenGrunn}}
        {{/eq}}
    </div>
{{/if}}
