{{#if this}}
    <h4>
        {{#eq spraak "en"}}
            Information about the survivors pension
        {{else}}
            {{#eq spraak "nn"}}
                Opplysingar om attlevandes pensjon
            {{else}}
                Opplysninger om gjenlevendes pensjon
            {{/eq}}
        {{/eq}}
    </h4>
    <div>
        <div class="row opplysning">
            <div class="col">
                {{this.pensjonstype.spoersmaal}}
            </div>
            <div class="col">
                {{#each this.pensjonstype.svar}}
                    • {{this.innhold}} <br />
                {{/each}}
            </div>
        </div>

        {{#if this.tjenestepensjonsordning}}
            <h5>
                {{#eq spraak "en"}}
                    Occupational pension scheme
                {{else}}
                    {{#eq spraak "nn"}}
                        Tenestepensjonsordning
                    {{else}}
                        Tjenestepensjonsordning
                    {{/eq}}
                {{/eq}}
            </h5>
            <div class="row opplysning">
                <div class="col">
                    {{this.tjenestepensjonsordning.type.spoersmaal}}
                </div>
                <div class="col">
                    {{#each this.tjenestepensjonsordning.type.svar}}
                        • {{this.innhold}} <br />
                    {{/each}}
                </div>
            </div>
            {{> eypdfgen/partials_v2/common/opplysning this.tjenestepensjonsordning.utbetaler}}
            {{#if this.tjenestepensjonsordning.afpOffentlig}}
                <h5>
                    {{#eq spraak "en"}}
                        AFP contractual pension in the public sector
                    {{else}}
                        {{#eq spraak "nn"}}
                            Avtalefesta pensjon i offentleg sektor
                        {{else}}
                            Avtalefestet pensjon i offentlig sektor
                        {{/eq}}
                    {{/eq}}
                </h5>
                {{> eypdfgen/partials_v2/common/datoOpplysning this.tjenestepensjonsordning.afpOffentlig.innvilget}}
                {{> eypdfgen/partials_v2/common/opplysning this.tjenestepensjonsordning.afpOffentlig.beloep}}
            {{/if}}
        {{/if}}

        {{#if this.utland}}
            <h5>
                {{#eq spraak "en"}}
                    Pension from abroad
                {{else}}
                    {{#eq spraak "nn"}}
                        Pensjon fra utland
                    {{else}}
                        Pensjon fra utland
                    {{/eq}}
                {{/eq}}
            </h5>

            {{> eypdfgen/partials_v2/common/opplysning this.utland.type}}
            {{> eypdfgen/partials_v2/common/opplysning this.utland.land}}
            {{> eypdfgen/partials_v2/common/opplysning this.utland.beloepMedValuta}}
        {{/if}}

        {{#eq this.svar.endringAvInntekt.grunn.svar.verdi "ANNEN_GRUNN"}}
            {{> eypdfgen/partials_v2/common/opplysning this.svar.endringAvInntekt.annenGrunn}}
        {{/eq}}
    </div>
{{/if}}
