<h3>Informasjon om saken</h3>

<div class="row opplysning">
    <div class="col">Saksnummer</div>
    <div class="col">{{sakId}}</div>
</div>

<div class="row opplysning">
    <div class="col">Saktype</div>
    <div class="col">{{sakTypeFormatert}}</div>
</div>

<div class="row opplysning">
    <div class="col">Saken gjelder</div>
    <div class="col">{{sakGjelder}}</div>
</div>

<div class="row opplysning">
    <div class="col">Klager</div>
    <div class="col">{{klager}}</div>
</div>

<div class="row opplysning">
    <div class="col">Klagedato</div>
    <div class="col">{{iso_to_nor_date klageDato}}</div>
</div>
