<div class="row opplysning">
    <div class="col">
        {{#eq spraak "en"}}
            Parent
        {{else}}
            Forelder
        {{/eq}}
    </div>

    <div class="col">
        {{capitalize_names this.fornavn.svar}}
        {{capitalize_names this.etternavn.svar}}

        {{#if this.foedselsnummer}}
            ({{this.foedselsnummer.svar}})
        {{else}}
            ({{this.foedselsdato.svar}})
        {{/if}}
    </div>
</div>
